# --- OS & System Files ---
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
Desktop.ini
*.log

# --- Editors ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# --- Docker Volumes & Configs ---
# Generic storage
data/*
storage/*

# Service Directories (Config/Data/Logs)
clash-ui/*
iptv-api/*
moviepilot/*
music-tag-web/*
navidrome/*
playlistdl/*
qbittorrent/*
quark-auto-save/*
xiaomusic_conf/*
postgresql/*
redis/*

# --- Sun-Panel Specific ---
# Ignore runtime logs
sunpanel/runtime/*
# Ignore database and uploads
sunpanel/conf/database/*
sunpanel/conf/uploads/*
# Ignore private config, but keep conf.example.ini
sunpanel/conf/conf.ini