# --- OS & System Files ---
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
Desktop.ini
*.log

# --- Editors ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# --- Environment & Secrets ---
.env

# --- Docker Volumes & Configs ---
# Generic storage
storage/*

# Service Directories (All services under services/)
services/*
# Keep example configs if any
!services/**/conf.example.ini
!services/**/.gitkeep